.compliments {
  font-size: 7em;
}

#spotifySongName {
    font-size: 1.5em;
    font-style: italic;
    font-weight: 600;
}

#spotifyAuthor {
    font-size: 1.2em;
    margin-bottom: 15px;
    margin-top: -5px;
}

#spotifyAlbum {
    font-size: 1.2em;
}
